header {
    background-color: #2c3e50;
}

.ms_structure-border {
    border: 2px black dashed;
}

.ms_page-title,
.ms_main-nav {
    height: 60px;
    background-color: blueviolet;
}

#ms_jumbotron {
    background-color: #1abc9c;
}

.ms_img {
    height: 200px;
    background-color: beige;
}

.ms_section-title {
    height: 60px;
    background-color: coral;
}

.ms_list {
    height: 90px;
    background-color: burlywood;
}

#portfolio {
    background-color: white;
}

.ms_card {
    height: 100px;
    background-color: brown;
}

#about {
    background-color: #1abc9c;
}

.ms_text {
    height: 150px;
    background-color: deeppink;
}

.ms_button {
    background-color: darkmagenta;
}