.ms_structure-border {
    border: 2px black dashed;
}

.ms_separator {
    height: 10px;
    width: 40%;
    border-radius: 15px;
}

.ms_sep-white {
    background-color: white;
}

.ms_sep-dark {
    background-color: #2c3e50;
}

.ms_color-dark {
    color: #2c3e50;
}

.ms_color-light {
    color: #1abc9c;
}

header {
    background-color: #2c3e50;
}

.ms_color-white {
    color: white;
}

#ms_jumbotron,
#about {
    background-color: #1abc9c;
}

.ms_section-title {
    color: #2c3e50;
}

#portfolio,
#contact-me {
    background-color: white;
}

.ms_card {
    background-color: brown;
}

.ms_text {
    background-color: deeppink;
}

.ms_button {
    background-color: #1abc9c;
    border: 1px white solid;
}

.ms_form {
    background-color: green;
}

.my_btn-submit {
    background-color: #1abc9c;
}

#ms_upper-footer {
    background-color: #3a546d;
}

.ms_location,
.ms_find-us,
.ms_who-we-are {
    background-color: goldenrod;
}

.my_border {
    border: 2px white solid;
    border-radius: 50%;
}

#ms_bottom-footer {
    background-color: #2c3e50;
}

.ms_copyright {
    background-color: lightseagreen;
}